* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Removed unnecessary closing brace */

body {
    font-family: "Mukta", sans-serif;
    background: #40bb6a;
    transition: background-color .5s;
}
nav {
    
    background: #17672f;
    height: 85px;
    width: 100%;
}
label.logo {
    padding: 0 100px;
}

nav ul {
    float: right;
    margin-right: 20px;
    margin-top: -92px;
}
nav ul li{
     display: inline-block;
     line-height: 80px; 
     margin: 0 25px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    font-weight:200;
    text-transform: uppercase;
}
a:hover{
    color: #40bb6a;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
         
label.logo{
    padding-left: 50px;
}
.marcologo{
    max-width: 100px;
}
.marcologo img{
    width: 100%;
}
/*----------------LOGOS---------------------*/
.logos{
    display:flex;
    justify-content: space-around;
}
.foto-logo{
    max-width:100px;
}
.foto-logo img{
    width:100%;
}
/*---------------HOME----------------------*/

main{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    background-color: #40bb6a;
    overflow-x: hidden;
}
.adalt{
    display: flex;
    /* justify-content: center; */
    margin-left: 40px;
}
.item{
    max-width: 570px;
    margin:10%; 
}
.item img{
    width: 100%;
    border: solid 10px;   
}
.foto{
    order:2;
    margin-left:80px;
 
} 
.text1{
    width:50%;
    font-weight: 800;
    font-size: 2.5vw;
    color: #17672f;
    margin-left:initial;
    margin-top: 39px;
}
.abaix p{
  margin-top: 18px;
  font-size: 80px;
  font-weight: 700;
  color: #17672f;
  /* color: #a8d3e4;    color blau clar*/
  margin-left: initial;
  margin: 5%;
  text-align: center;
}
/*--------figuren---------*/
 .wrap{
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
} 
.wrap p{
    color:#092b13;
}
.fotos{
    width: 500px;    
}
.fotos img {
    cursor: pointer;
    transition: opacity .5s;
    border:solid 10px;
    border-radius: 14px;   
}
#ei {
margin-top:100px;
}
#ei img, #cocodril img, #medusas img, #pajarraco img, #serpiente img {
    width: 100%;
}
#ei img:hover{
    content:url("dibuixos/Finals/2.BitxoFinal.png");  
}
#cocodril img:hover {
    content: url("dibuixos/Finals/23.CocodrilsrientFinal.png");
}
#pajarraco img:hover{
    content:url("dibuixos/Finals/20.OcellamagatFinal.png")
}
#serpiente img:hover {
    content:url("dibuixos/Finals/6.SerpFinal.png");
}
  /*------------------ ABOUT ---------------------*/

  .theaterstück{
    margin:10px;
  }
  .mar{
    margin:10px;
  }
  main{
    margin: 10px;
  }
   .theaterstück, .martext{
        width: 60%;
   }  
   .martext{
    margin-top: -10px;
   } 
    main .theaterstück p, .mar p {
        margin-left: 28px;
        text-align: left;
        font-size: 25px;
        color: #165128;
        font-weight: 600;
    }
    main .theaterstück h3, .mar h3 {
        margin-left: 28px;
        margin-top: 25px;
        font-size: 44px;
        color:#165128;
        font-weight: 800;
    }
    .fotocv img{
        float:left;
        margin-right: 20px;
        width: 100%;
    }
    .fotocv{
        margin: 28px;
        max-width: 200px;
    }
    .kontakt {
        display:flex;
        align-items: baseline;
        justify-content: space-around;
        margin-top: 128px;
    }
    .kontakt p, .impressum p{
        color:#16512888;
    }
    .kontakt a, .impressum a{
        color:#165128;
        transition: ease 1s;
    }
    .kontakt a:hover{
        color: #09ee27;
    }
    .insta a{
        color:white;
    }
    .impressum h3, .impressum h4{
        color:#165128;
        text-transform: uppercase;
    }
    .impressum h4{
        margin-top: 30px;
    }
    .telefon, .adress, .name{
        color:#165128;
    }
 
  /*--------- NEWS -------------------*/
.news{
    height: auto;
}
.newcontainer{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    margin-left: 42px;
    width:60%;
    
}
.newcontainer h2 {
  font-size: 44px;
  color: #165128;
  font-weight: 800;
  margin-left: 8px;
  margin-top: 113px;
 /*  position: absolute;
  top: 50px; */
}
.caixadatum {
    display: grid;
  grid-template-columns: 1fr 8fr;
  margin: 10px;
    width: 50%;
}
.caixadatum.feb {
    margin-top: 35px !important;  
}
.datum {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  font-weight: 800;
  background-color: #165128d9;
  align-items: center;
  height: 80px;
  margin-top: 10px;
  width: 61px;
}
.tag{
    font-weight: 600;
  color: white;
  line-height: 0.5;
  font-size: 20px;
}
.nummertag{
    color: white;
  line-height: 1;
  font-size: 32px;
  font-weight: 800;
}
.monat{
    color: white;
  line-height: 0.5;
  font-size: 20px;
  font-weight: 800;
}
.news.prox{
    display: flex;
    flex-direction: column;
   /*  position: relative;
    top: 110px; */
}
.datumtext{
    background-color: #165128d9;
    margin:10px;
    height: 80px;
    padding-left: 13px;
    padding-top: 3px;
    line-height: 23px;

}
.datumtext span{
    color: white;
  margin-right: 8px;
}
.hora{
    margin-right: 7px;
    font-size: 16px;
    color:#ffffffe3;
    line-height: 0.5;
}
.adressa{
    line-height: 0.7;
    font-size: 15px;
    color:#ffffffe3;
}
.linea{
    display: flex;
  align-items: baseline;
}
 .news.past{
  text-decoration-thickness: 2px;
  text-decoration-color: white;
 }
  .news a{
    color: #165128;
    font-size: 16px;
    color:#ffffffe3;
  }
  .news a:hover{
    color: #09ee27;
  }
  .news.pasades {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .textnews {
    /* position:absolute;
    top: 581px; */
    margin-left: 15px;
    font-size: 25px;
    line-height: 1.3;
    font-weight: 700;
    width: 56%;
    margin-left: 11px;
    margin-top:45px;
  }
  .textnews p{
    text-align:justify;
  }
  .textnews a {
    font-size: 26px !important;
    color: black !important;
    font-weight: 800;
    text-decoration: underline;
}
.textnews a:hover {
    color: #09ee27 !important;
}
  /*------------------ GALERIE -------------------------*/

            /*---- Això és el container de les totes fotos  -----*/
            .slideshow-container {
                max-width: 1000px;
                position: relative;
                margin: auto;
                margin-top: 191px;
            }
            /*------- Amaga les fotos per defecte ------------------*/
            .mySlides {
                display: none;
            }
            .slideshow-container img{
                vertical-align: middle;
            }
            /*-------- Next & Previous Buttons -----------*/
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }
            /*-------- Next button to the right ------------*/
            .next{
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
            }

            /*--------- Fading animation ------------------*/

            .fade {
                animation-name: fade;
                animation-duration: 1.5s;
            }
            .autoriafoto a{
                color: #092b13;
                
            }
            .autoriafoto a:hover{
                color: #09ee27;
                
            }
            @keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }

/*-------------------------------------- FOOTER ---------------------------------------*/

footer{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
footer{
    margin-top: 40px;
    height: 75px;
    width: 100%;
    background-color: #17672f;
}
footer p{
    padding: 6px;
    margin-left: 50px;
    color: white;
}
footer a{
    color:white;
    transition: ease 2s;
}


/* --------------------------------- SOCIAL MEDIA BUTTONS --------------------------------*/

.fa {
    padding: 15px;
    /* font-size: 40px; */
    /* width: 30px; */
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-instagram {
    background: #125688;
    color: white;
  }
  .insta{
    font-size: 25px;
  }



/*----------------------------------- COOKIES --------------------------------*/
.cookie-consent-modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: flex-start;
}
.cookie-consent-modal.active{
    display: flex;
}
 .contentcookies{
    background-color:#59d713;
    padding: 2vw 1vw;
    border-radius: 10px;
    margin-top: 28px;
    margin-left: 15px;
} 
.contentcookies p{
    font-size: 15px;
}
.btns{
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
}
.cookies-btn{
    border:none;
    outline:none;
    padding: .8em 1,5em;
    width: 100px;
    margin-right: 1em;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    height: 26px;
    font-size: 11px;
    font-weight: 500;
}
.cookies-btn.accept{
    background-color:#17672f;
    color: #fff;
}
.cookies-btn.accept:hover{
    background-color:#17672f98;
}
.contentcookies a{
    color:#148836;
}
.contentcookies a:hover{
   color: #0ea83b;
}


            
/*----------------------------- Max WIDTH -------------------------*/
/*-------------------------- NAVEGADOR -----------------------------------------*/
@media (max-width: 1469px){
    .newcontainer{
        width: 70%;
    }
    .textnews p{
        text-align:left;
      }
}

@media (max-width:1117px){
.newcontainer{
    width: 80%;
}
}

@media (max-width: 950px){
    .newcontainer{
        width: 90%;
    }
}

@media (max-width: 820px){
    .newcontainer h2{
        font-size: 35px;
        margin-left: 113px;
 
        
    }
    .textnews{
        font-size: 25px;
        margin-left:21px;
        width:80%;
    }
    .textnews p{
        margin-left: 92px;
    }
    .newcontainer{
        width: 100%;
        margin-left: 0;
    }
    .caixadatum {
      margin: 10px;
      width: 94%;
    }
    .news.prox{
        padding: 10px;
    }

}



@media (max-width: 810px){
    nav{
        height: 84.5px;
        width: 100%;
    }
         
    nav ul{
        float: center;
        margin-right: auto;
        margin-left: auto; 
        margin-top: inherit;
    }    

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #408029;;
        top: 84px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index:2;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover{
        color: #17672f;
        transition: .5s;
        }
    
    #check:checked ~ ul{
        left: 0;
    }
    label.logo{
        padding-left: 23px;
    }
    
 } 


 /*------------------------------------- HOME ---------------------------*/

 @media (max-width: 810px){
    main{
        flex-direction: column;
        margin: inherit;
        flex-wrap: nowrap;
    }
    .adalt{
        flex-direction: column;
        margin-left: inherit;
    }
    .foto{
        order:1;
        margin: auto 0;
    }
    .text1{
        order:2;
      width: 90%;
        margin: auto;
    }
    .text1 p{
        width: 100%;
        text-align: center;
        font-size: 5vw;
    }
   
   .abaix p{
        text-align: center;
        font-weight: 800;
        font-size: 31px;
       
   }   
    .item{
        max-width: 375px;
        margin:30px;
    }
     footer{
        height: 65px; 
    }
    footer p{
        padding-left: 3px;
        padding: 19px;
    } 
}


/*-------------------------------------- FIGUREN ----------------------*/

@media screen and (max-width: 810px){
    .fotos {
        max-width: 326px;
    }
    .fotos img{
        width: 100%;
    }
    #ei img:hover{
        content:url("dibuixos/Finals/2.BitxoFinalMobil.png");  
    }
    
    
    #cocodril img:hover {
        content: url("dibuixos/Finals/23.CocodrilsrientFinalMobil.png");
    }
    
    
    #pajarraco img:hover{
        content:url("dibuixos/Finals/20.OcellamagatFinalMobil.png")
    }
    
    #serpiente img:hover {
        content:url("dibuixos/Finals/6.SerpFinalMobil.png");
    }
    .wrap{
        overflow-x: hidden;
    }
}

/*------------------------- GALLERY ------------------------*/

@media screen and (max-width: 810px){
    .autoriafoto{
        margin-bottom: 653px;
        margin-left: 6px;
    }
    .slideshow-container {
        margin: 40px 6px;
    }
}

/*------------------------ NEWS ---------------------------*/
@media (max-width:1278px){
    .caixadatum{
        width: 60%;
    }
   
}

/*--------------------------- ABOUT -----------------------------------*/

@media (max-width: 969px){
    .theaterstück, .martext{
        width: 90%;
        
    }
    main .theaterstück p, .mar p{
        text-align: center;
        /* margin-left: initial; */
        font-size: 20px;
    }
    main .theaterstück h3, .mar h3 {
        text-align: center;
        margin-left:initial;
        font-size: 35px;
    }
  /*-------------------------- NEWS -------------------------------*/  
    .caixadatum{
        width: 90%;
    }
    .datumtext{
        line-height: 23px;
    }

}

/*------------------------- NEWS --------------------------------*/
 @media (max-width: 720px){
    .newcontainer h2 {
        margin-left: 0;
        text-align: center;
    }
    
 }



/*-----------------------footer--------------------*/

@media (max-width:665px){
    footer {
        justify-content: space-around;
        display:flex;
        flex-direction: column;
        height:78px;
    }
    footer p{
        padding: 0px;
        margin-left:0px;
        font-size: 15px;
    }
}

/*-----------------------cookies-------------------*/

@media (max-width: 665px){
    .contentcookies{
        padding: 4vw 4vw; 
    }
}
/*/---------------------- NEW ----------------------*/
@media (max-width: 587px){
    .newcontainer h2{
      margin-right: 10px;
      margin-left: 10px;
      line-height: 34px;
    }
    .datumtext{
        line-height:20px;
    }
}
/*---------------------- ABOUT --------------------------------*/

@media (max-width:500px){
    .fotocv{
        max-width: 100px;
    }
    main .theaterstück p, .mar p{
        margin-left: initial;
    }
    .textnews{
        width: 100%;
        margin-left: 0;
        margin-right:0;
      
    }
    .textnews p{
        margin-right: 0px;
        margin-left:0px;
        padding-right: 20px;
        padding-left:24px;
    }

}

/*------------- NEWS -------------*/

@media (max-width: 500px){
    .datum{
        height: 120px;
    }
    .datumtext{
        height: 120px;
    }
    .datumtext{
        line-height:18px;
    }
   
  
    
}

/*---------KONTAKT--------------*/
@media (max-width:393px){
    .kontakt{
        margin-left:20px;
    }
    .insta{
        margin-right:10px;
    }
}

/*---------NEWS-------------*/

@media (max-width:350px){
    .news a {
        font-size: 15px;
    }
    .datumtext{
        line-height: 16px;
    }
    .newcontainer h2{
        font-size:27px;
    }
    .textnews{
        font-size:19px;
    }
    .textnews p {
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 4px;
        padding-left: 4px;
    }
    .textnews a {
        font-size: 19px !important;
        color: black !important;
        font-weight: 800;
        text-decoration: underline;
    }

}
